@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Programacion V</h1>
</div>

<center>
    <img src="https://fanaticosusa.com/wp-content/uploads/2021/12/verstappen-abu-dhabi.jpg" />
</center>